<div class="colg-lg-10 offset-lg-1">
    <div class="jumb col-lg-8 offset-lg-2">
        <h2 style="color:white">{{titulo}}</h2>
        <p style="color:white">Gestión de productos con una aplicación web</p>

        <p>
            <a href="#" id="btnVer" routerLink="/productos" style="border: solid 1px white" class="btn btn-g btn-primary">Ver productos</a>
            <a href="#" id="btnAdd" routerLink="/crear-producto" class="btn btn-g btn-success">Añadir productos</a>

        </p>


    </div>


</div>