<h4 style="text-align: center">{{titulo}}</h4>



<form style="margin: auto" id="form-edit" #formCrearProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-crearProducto">
    <div class="form-group">
        <label id="lblNombre">Nombre
                    <span *ngIf="!nombre.valid && nombre.touched" class="alert-danger">El nombre es obligatorio</span>
            </label>
        <input type="text" class="form-control" #nombre="ngModel" [(ngModel)]="producto.nombre" name="inputNombre" placeholder="Introduce el nuevo nombre" required/>

    </div>
    <div class="form-group">
        <label id="lblDescripcion">Descripción
                <span *ngIf="!descripcion.valid && descripcion.touched" class="alert-danger">La descripción es obligatoria</span>
            </label>
        <textarea type="input" class=" form-control" #descripcion="ngModel" [(ngModel)]="producto.descripcion" name="descripcion" placeholder="Introduce la nueva descripción" required></textarea>


    </div>
    <div class="form-group ">
        <label id="lblPrecio ">Precio 
                    <span *ngIf="!precio.valid && precio.touched" class="alert-danger">El precio no es correcto</span>
            </label>
        <input type="text" class="form-control " #precio="ngModel" [(ngModel)]="producto.precio" name="precio" placeholder="Introduce el nuevo precio del producto" required pattern="[0-9]+" />


    </div>
    <div class="form-group" style="display: inline">
        <label id="lblImagen ">Imagen</label>
        <img *ngIf="!hideImg && producto.imagen" style="width: 100px" src="http://localhost/curso-angular4-backend/uploads/{{producto.imagen}}" />
        <input type="file" class="form-control col-lg-6" (change)="fileChangeEvent($event)" />
    </div>

    <br>
    <button type="submit" class="btn btn-primary" [disabled]="!formCrearProducto.form.valid">Editar Producto</button>
    <a onclick="$('#form-crearProducto')[0].reset();" (click)="hideImage()" class="btn btn-primary" style="margin-left: 10px">Limpiar Campos</a>
</form>

<a routerLink="/productos" id="btnVolver" class="btn btn-g btn-primary">Volver a productos</a>